h1 {
	text-align: center;
	color: white;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: #32cd32;
}

body {
	background-color: black;
}

img {
	max-height: 100%;
	max-width: 100%;
	margin: 0 auto;
	justify-content: center;
	position: relative;
	left: auto;
	right: auto;
}

.wrapper {
	display: block;
	margin: auto;
/*	justify-content: center;
	position: relative;
	left: auto;
	right: auto;
	padding: 0;
	border: 0;*/
}